.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  color: #fff;
  padding: 1rem;
}

.navbar-left .logo {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
  color: #fff;
  text-decoration: none;
}


.navbar-center .nav-links {
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


.navbar-center .nav-links li {
  margin-right: 1rem;
}

.navbar-center .nav-links a {
  color: #fff;
  text-decoration: none;
}

.acc-name {
  color: #fff;
  text-decoration: none;
}

.acc-name:hover, .acc-name:focus {
  cursor: pointer
}

.account-menu {
  position: absolute;
  right: 1%;
  top: 10%;
  background-color: #444;
  display: flex;
  flex-direction: column;
  row-gap: 1em;
  padding: 1em;
}

.hidden {
  display: none;
}

.log-in-window {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%);
  width: min-content;
  z-index: 1000;
  color: black;
  background-color: grey;
  display: flex;
  flex-direction: column;
  border: 2px solid white;
  border-radius: 1em;
  padding: 3em;
  align-items: center;
  /* background-color: #222; */
}

.separator {
  display: block;
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
  width: 100%;
}

.separator > span {
  position: relative;
  display: inline-block;
}

.separator>span:before,
.separator>span:after {
  content: "";
  position: absolute;
  top: 50%;
  width: 1000%;
  height: 1px;
  background: black;
}
.separator>span:before {
  right: 100%;
  margin-right: 15px;
}

.separator>span:after {
  left: 100%;
  margin-left: 15px;
}
.login:hover, .login:focus {
  cursor: pointer;
}
.close {
  position: absolute;
  right: 15px;
  top: 2px;
  color: black;
  font-size: xx-large;
}

.close:hover, .close:focus {
  color: red;
  cursor: pointer;
}