body {
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        background-color: #000;
        color: #eee;
        box-sizing: border-box;
}

a {
        color: #eee;
}
a:hover {
        color: grey;
}

.container {
        border: 2px solid white;
        border-radius: 1em;
        padding-bottom: 1em;
        background-color: #222;
        /* display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        grid-template-columns: 1fr 1fr;
        grid-template-rows: [row1-start] 20% [row1-end row2-start] 80% [row2-end] */
}

.team-totals {
        /* grid-row-start: row1-start;
        grid-row-end: row1-end;
        grid-column: span 2; */
        border-style: none none solid none;
        border: 2;
        padding-left: 1em;
}

.squads {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        justify-items: stretch;
        gap: 2px;
        background-color: white;
        /* padding: 0em 1em 1em 1em; */
}

.squad {
        padding-left: 1rem;
        background-color: #222;
}

.points {
        border-top: 2px solid white;
        padding: 1em 1em 0 1em;
}

#points-table {
        /* background-color: grey; */
        width: 100%;
        table-layout: auto;
        text-align: left;
        border-collapse: collapse;
        color: #eee;
        border: 2px groove white;
}

#points-table td {
        padding: 0.5em;
        border-top: 2px solid grey;
}

#points-table thead {
        background-color: lightgrey;
        color: grey;
}

#points-table strong {
        font-weight: bolder;
        color: white;
}

.team-totals-sc {
        border-style: solid;
        border: 2;
        border-radius: 1em;
        padding-left: 1em;
        background-color: #222;
}
.summary {
        /* border-style: solid;
        border-top: none;
        border-bottom: none;
        border: 1; */
        padding-top: 0.5em;
        padding-bottom: 0.5em;
}

.summary-table {
        margin-left: auto;
        margin-right: auto;
        width: 95%;
        border-collapse: collapse;
        table-layout: auto;
        overflow: hidden;

}

.summary-table th, .summary-table td {
        padding-left: 1rem;
}

.summary-thead {
        text-align: left;
        background-color: #333;
        border-color: #333;
        font-weight: bold;
}

#striker {
        font-weight: bold;
}
#striker::before {
        vertical-align: sub;
        content: " * ";
}

.info-line {
        border-style: solid none solid none;
        border: 1;
        padding-left: 1em;
        padding-right: 1em;
        display: flex;
        flex-direction: row;
}


.recent-balls {
        width: max-content;
}

.last-bat {
        text-align: right;
        flex: 1;
}

@media only screen and (max-width: 600px) {
        .info-line {
                flex-direction: column-reverse;
        }
        .last-bat {
                text-align: left;
        }
        .recent-balls {
                width: auto;
        }
}

.ball-update {
        display: flex;
        flex-direction: row;
        width: 100%;
}

.comm-label {
        flex: 2;
        display:flex;
        flex-flow: row wrap;
}

.ball-text {
        flex: 13;
        display: flex;
        flex-direction: column;
        height: auto;
        /* flex: 95; */
        padding-left: 1em;
        padding-right: 1rem;
}

.ball-number {
        display: flex;
        justify-content: center;
        align-items: center;
        flex: 3;
        padding-right: 0.5em;
}


.ball-value {
        display: flex;
        justify-content: center;
        align-items: center;
        flex: 3;
}

.value-\., .value-\·, .value-1, .value-2, .value-3 {
        font-weight: bolder;
        font-size: larger;
        display: flex;
        width: 2em;
        aspect-ratio: 1/1;
        justify-content: center;
        align-items: center;
        border-radius: 0.2em;
        background-color: grey;
}

.value-4, .value-6 {
        font-weight: bolder;
        font-size: larger;
        display: flex;
        width: 2em;
        aspect-ratio: 1/1;
        justify-content: center;
        align-items: center;
        border-radius: 0.2em;
        background-color: green;
}

.value-W {
        font-weight: bolder;
        font-size: larger;
        display: flex;
        width: 2em;
        aspect-ratio: 1/1;
        justify-content: center;
        align-items: center;
        border-radius: 0.2em;
        background-color: darkred;
}

.value-\+, .value-O {
        font-weight: bolder;
        font-size: larger;
        display: flex;
        width: 2em;
        aspect-ratio: 1/1;
        justify-content: center;
        align-items: center;
        border-radius: 0.2em;
        background-color: orangered;
}


.ball-comm {
        border: solid;
        margin-top: 0;
        border-top: none;
        border-left: solid;
        border-right: solid;
        padding-left: 0.5em;
        border-collapse: collapse;
        /* background-color: orange; */
        display: flex;
}

.over-comm {
        background-color: darkslategray;
        margin-top: 1em;
        margin-bottom: 0;
        border-top: solid;
        border-left: solid;
        border-right: solid;
        border-bottom: solid;
        border-collapse: collapse;
        border-top-left-radius: 1em;
        border-top-right-radius: 1em;
        padding-left: 1em;
}

.ball-comm > p {
        margin: 0;
        padding-top: 1em;
        padding-bottom: 0.5em;
}

.ball-description {
        /* border: solid; */
        border-top: none;
        /* padding-top: 0.1em; */
        padding-left: 1em;
        padding-right: 1em;
        border-bottom-right-radius: 1em;
        border-bottom-left-radius: 1em;
}

.tab-buttons {
        /* background-color: beige; */
        margin-left: -1em;
        width: auto;
        flex: auto;
}

.tab-button {
        width: 50%;
        border: none;
        border-collapse: collapse;
        border-style: solid;
        border-color: grey;
        border-top: 1;
        border-bottom: none;
        padding-top: 0.5em;
        background-color: #333;
        color: #eee;
        font-size: medium;
        padding-bottom: 0.5em;
}

#overview-button {
        border-left: none;
        border-right: none;
}

#scoreboard-button {
        border-right: none;
        border-left: 1;
}
.scorecard {
        margin-top: 1em;
        border-style: solid;
        border: 2;
        border-radius: 1em;
        background-color: #222;
}

.fake-scorecard {
        margin-top: 1em;
        border-style: solid;
        border: 2;
        border-radius: 1em;
        background-color: darkslategray;
}

.first-scorecard {
        /* width: 100%; */
}

.score-table {
        /* margin-left: -5px; */
        /* margin-right: auto; */
        table-layout: fixed;
        width: 100%;
        border-collapse: collapse;
        text-align: left;
}

.score-table td {
        border-bottom: 1px groove grey;
        padding: 1rem 0 1rem 0;
}

.score-table th {
        /* border-bottom: 1px groove grey; */
        /* padding: 1rem 0 1rem 0; */
        background-color: #333;
        /* width: min-content; */
}

.score-table strong {
        font-weight: 1000;
        color: white;
}

.fake-scorecard:hover {
        background-color: slategray;
}